<a href="https://colab.research.google.com/github/pauljo13/CVS/blob/main/ai18_sc32x_%EC%A1%B0%EB%B2%94%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SC32x 
## 자연어처리 (Natural Language Processing)

# Part 1 : 개념 요약

> 다음의 키워드에 대해서 **한 줄**로 간단하게 요약해주세요. (세션 노트를 참고하여도 좋습니다.)<br/>
> **Tip : 아래 문제를 먼저 수행한 후 모델 학습 등 시간이 오래 걸리는 셀이 실행되는 동안 아래 내용을 작성하면 시간을 절약할 수 있습니다.**

**N321**
- Stopwords(불용어)
- Stemming과 Lemmatization
- Bag-of-Words
- TF-IDF

***이곳에 답안을 입력해주세요***
* Stopwords(불용어)
> 조사, 접미사와 같은 단어들과 같은 의미 분석에는 필요없는 단어

* Stemming 과 Lemmatization
> Stemming
>> 접사등이 제거된 형태의 단어를 추출하여 단순화하는 작업
> 
> Lemmatization
>> 기본 사전형 단어의 형태, 즉 단어의 원형으로 변경하여 단순화하는 작업

* Bag-of-Words
> 가장 단순한 벡터화 방법으로 문서나 문장에서 문법이나 단어의 순서을 무시하고 빈도만 고려하여 벡터화하는 것

*TF-IDF
> 특정 문서에 등장하는 단어에 가중치를 두는 방법으로 특정 단어 빈도 TF와 분류 대상 문서의 수에서 특정 단어 수를 나눈 로그값 IDF을 곱하여 가중치를 준다.


**N322**
- Word2Vec
- fastText

***이곳에 답안을 입력해주세요***
- Word2Vec
> 단어를 벡터로 나타내는 임베딩 방법으로 특정 단어 양 옆애 았눈 두 단어의 관계를 활용하여 분포도를 보여준다.
- fastText
> Word2Vec 방식에 철자 기반의 임베딩 방식을 더해준 새로운 임베딩 방법

**N323**
- RNN
- LSTM, GRU
- Attention

***이곳에 답안을 입력해주세요***
- RNN
> 순환 신경망으로 기존의 신경망과 다르게 이전 은닉층로부터 출력된 벡터가 다음 은닉층에 연결되어서 연산에 영향을 주는 신경망
- LSTM, GRU
> LSTM
>> RNN의 기울기 소실, 폭발 문제를 해결하기 위해 기울기 정보 크기를 조절하는 3개의 gate가 추가된 신경망
>
> GRU
>> LSTM을 간소화한 신경망으로 2개의 gate로 이루어져 있는 신경망
- Attention
> 각 인코더의 Time-step마다 생성되는 hidden-stae 벡터를 간직하여 모두 디코더에 한번에 넘겨서 각 단어에 대한 가중치를 업데이트하여 빠르고 정확한 예측을 하도록하는 방법

# Part 2 : Fake/Real News Dataset

한 주간 자연어처리 기법을 배우면서 여러분은 다양한 기술들을 접했습니다.<br/>
어떻게 텍스트 데이터를 다뤄야 하는지, 텍스트를 벡터화 하는 법, 문서에서 토픽을 모델하는 법 등 다양한 NLP 기법을 배웠는데요.<br/>
이번 스프린트 챌린지에선 [Fake/Real News Dataset](https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset)을 사용하여 배운 것들을 복습해보는 시간을 갖겠습니다.

**주의 : 모델의 성능을 최대한 끌어올리는 것이 아닌 모델 구동에 초점을 맞춰주세요.<br/>
모든 문제를 완료한 후에도 "시간이 남았다면" 정확도를 올리는 것에 도전하시는 것을 추천드립니다.**

In [2]:
# 코드 실행 전 seed를 지정하겠습니다.
import numpy as np
import tensorflow as tf

np.random.seed(42)
tf.random.set_seed(42)

## 2.0 데이터셋을 불러옵니다.

- 위 캐글 링크에서 데이터셋을 받아 업로드 합니다.<br/>
(직접 업로드하게 되면 시간이 꽤 걸리므로 **drive_mount** 나 **kaggle 연동**하시는 것을 추천드립니다.)

- 'label' 열을 만들어 Fake = 1, True = 0 로 레이블링해줍니다.
- 두 파일을 합쳐 하나의 데이터프레임에 저장해 준 후 데이터를 섞어줍니다.

In [3]:
from google.colab import files

file = files.upload()

In [4]:
import pandas as pd
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [6]:
fake['label'] = 1
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [7]:
true['label'] = 0
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [8]:
df = pd.concat([fake,true])
df

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [9]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [10]:
df.duplicated().sum()

209

In [11]:
df = df.drop_duplicates().reset_index(drop=True)
df.duplicated().sum()

0

In [12]:
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

## 2.1 TF-IDF 를 활용하여 특정 뉴스와 유사한 뉴스 검색하기

시간상 특별한 **전처리 없이** 아래 태스크를 수행하겠습니다.

### 2.1.1 TFidfVectorizer를 사용하여 문서-단어 행렬(Document-Term Matrix) 만들기

In [13]:
# 이 곳에 답안을 작성하시길 바랍니다.
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english', max_features=15)
dtm_tfidf = tfidf.fit_transform(df['text'])

dtm_tfidf = pd.DataFrame(dtm_tfidf.todense(), columns=tfidf.get_feature_names_out())
dtm_tfidf

,clinton,donald,government,house,just,new,obama,people,president,republican,reuters,said,state,states,trump
0,0.000000,0.201695,0.000000,0.000000,0.298800,0.800908,0.000000,0.131339,0.175548,0.0,0.000000,0.000000,0.000000,0.000000,0.424873
1,0.427182,0.000000,0.000000,0.172860,0.160202,0.312297,0.000000,0.000000,0.125494,0.0,0.000000,0.100247,0.000000,0.169278,0.781017
2,0.000000,0.188342,0.000000,0.000000,0.627789,0.000000,0.000000,0.735864,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.170033
3,0.000000,0.163177,0.000000,0.000000,0.000000,0.000000,0.647645,0.079693,0.071012,0.0,0.000000,0.000000,0.000000,0.000000,0.736571
4,0.000000,0.204180,0.000000,0.000000,0.226861,0.000000,0.000000,0.199436,0.000000,0.0,0.000000,0.709791,0.000000,0.239713,0.552996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44684,0.000000,0.104784,0.251288,0.125622,0.000000,0.340432,0.000000,0.102349,0.091200,0.0,0.096075,0.655667,0.118837,0.000000,0.567587
44685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.402425,0.915453,0.000000,0.000000,0.000000
44686,0.000000,0.000000,0.227135,0.000000,0.000000,0.205140,0.000000,0.000000,0.164868,0.0,0.173681,0.658495,0.644488,0.000000,0.000000
44687,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.291981,0.885614,0.361157,0.000000,0.000000
44688,0.000000,0.000000,0.000000,0.000000,0.000000,0.319227,0.000000,0.000000,0.000000,0.0,0.270272,0.614825,0.668609,0.000000,0.000000

### 2.1.2 KNN 알고리즘을 사용하여 유사한 문서 검색하기

- **42번 인덱스의 문서**와 가장 유사한 **5개 문서(42번 포함)의 인덱스**와 **해당 인덱스의 레이블**을 나타내주세요.
- NN 모델의 파라미터 중 `algorithm = 'kd_tree'` 로 설정합니다.

In [14]:
# 이 곳에 답안을 작성하시길 바랍니다.
from sklearn.neighbors import NearestNeighbors

nn = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')
nn.fit(dtm_tfidf)

NearestNeighbors(algorithm='kd_tree')

In [15]:
nn.kneighbors([dtm_tfidf.iloc[42]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

(array([[0.        , 0.28725444, 0.31785618, 0.32006394, 0.32068763]]),
 array([[  42, 2870, 4697, 4971,  883]]))

In [16]:
index = [42, 2870, 4697, 4971,  883]
for i in index:
  print(i, ':', df['text'][i],'\n')

42 : Donald Trump s current deputy national security adviser K.T. McFarland, a former Fox News personality, K. T. McFarland admitted in an email to a colleague during the 2016 presidential transition to Russia throwing the election to Trump. The leaked email was written just weeks before Trump s inauguration and it states that sanctions would make it difficult to ease relations with Russia,  which has just thrown the U.S.A. election to him. The New York Times reports:But emails among top transition officials, provided or described to The New York Times, suggest that Mr. Flynn was far from a rogue actor. In fact, the emails, coupled with interviews and court documents filed on Friday, showed that Mr. Flynn was in close touch with other senior members of the Trump transition team both before and after he spoke with the Russian ambassador, Sergey I. Kislyak, about American sanctions against Russia.A White House lawyer tried to explain McFarland s email to the The Times by saying that she was referring to the Democrats  portrayal of the election. That doesn t make any sense, by the way.McFarland wrote the email to Thomas P. Bossert, who currently serves as Trump s homeland security adviser, then he forwarded it to future National Security Advisor Michael Flynn (now indicted), future Chief of Staff Reince Priebus, future senior strategist Stephen Bannon, and future press secretary Sean Spicer, the Daily Beast reports.With all the pearl-clutching we witnessed from conservatives about Hillary Clinton s emails, you d think they wouldn t be sending messages about Russia throwing the election to Trump.This past March, John Oliver, the host of the HBO comedy show Last Week Tonight started a segment called  Stupid Watergate,  which he described as  a scandal with all the potential ramifications of Watergate, but where everyone involved is stupid and bad at everything. Nailed it!Photo by Chip Somodevilla/Getty Images.

2870 : On Tuesday, it was announced that Donald Trump has elected to keep James Comey (that nice gentleman who helped swing the election in Trump s favor by sending Republicans a letter falsely indicating that a new investigation into Hillary Clinton was being opened just before the election) as FBI Director. That s a move The New York Times notes will  keep Mr. Comey at the center of the F.B.I. s investigation into several Trump associates and their potential ties with the Russian government. Comey demonstrated with his attacks on Hillary that he has absolutely no integrity whatsoever, which makes him exactly the sort of guy Trump would want to keep around. Also on Tuesday, purely by coincidence of course, news broke that Trump s national security adviser was cleared of any wrongdoing in his frantic communications with Russian ambassador Sergey Kislyak on the same day President Obama announced sanctions against Russia for their cyberattack on our nation during the election.White House Press Secretary Sean Spicer, who also says that Trump had the most heavily-witnessed inauguration in history, and for whom Kellyanne Conway created a new term,  alternative facts,  in an effort to normalize his lies, explained Monday that the two aren t in frequent contact but have spoken recently on a number of issues that were completely innocent, like logistics for a post-inauguration call between Trump and his Russian dictator friend who 17 intelligence agencies say directly interfered with our election on The Donald s behalf.The problem here is that Americans cannot be sure if the presented results are legitimate, as the FBI is headed by someone who went out of his way, breaking precedent and probably the law, to aid Trump in the election with misleading information about Clinton. This same man was just rewarded for his actions when Trump allowed him to keep his job. But Trump also has the power to fire him if he isn t satisfied with the results of any of the numerous investigations into his team.In November, Trump said that Comey  made a mistake  when he announced that Hillary Clinton had committed no crimes and would not be charged, but  brought back his reputation  when he released the letter that gave right-wing propaganda outlets (and Putin s team of propagandists) much-needed ammo just before the election.So now, we as Americans are presented with a dilemma: Do we accept the words of the FBI, knowing that Trump can fire the person in charge of the investigations, when he is someone who has shown a corrupt desire to interfere in important things like elections in the past? Or do we demand a full release of investigatory documents and transcripts just to be sure the truth is being told?Probably better to be safe about this.Featured image by Andrew Harrer via Getty Images

4697 : Stephen Sondheim s  Send in the Clowns  just became all about Donald Trump thanks to legendary singer-songwriter Barbra Streisand.During a fundraiser in New York on Friday night for Democratic nominee Hillary Clinton, Streisand unveiled a new parody version of the classic, which was originally written for the 1973 musical A Little Night Music.Here s the original version as performed by Streisand via YouTube:The new version, however, is a complete mockery of the Republican nominee and was very appreciated by the audience in attendance as Babs sang the entire version so that Trump will never forget it.Here s the lyrics via Raw Story:VERSE 1 IS HE THAT RICH? MAYBE HE S POOR?  TIL HE REVEALS HIS RETURNS WHO CAN BE SURE? WHO NEEDS THIS CLOWN?VERSE 2 SOMETHING S AMISS I DON T APPROVE IF HE WERE RUNNING THE FREE WORLD, WHERE WOULD WE MOVE? NAME ME A TOWN? JUST WHO IS THIS CLOWN?BRIDGE AND WHEN WE THOUGHT WE D HEARD IT ALL HUFFING AND PUFFING ABOUT HIS BIG FANTASY WALL MAKING HIS ENTRANCE ON STAGE  HE JUST SHOOTS FROM THE HIP HE S FULL OF BULL HE S LOST HIS GRIP!VERSE 3 AND IF BY CHANCE HE GETS TO HEAV N EVEN UP THERE HE LL DECLARE  CHAPTER ELEV N! WHO D HIRE THIS CLOWN? THIS SAD VULGAR CLOWN   YOU RE FIRED  YOU CLOWN!BRIDGE 2 HILLARY S KIND  SMART THAT IS CLEAR WHILE SHE IS GIVING US HOPE TRUMP IS SELLING US FEAR LOOK HOW HE CHANGES HIS VIEWS EVERY TIME THAT HE SPEAKS IT S LIE AFTER LIE CAN T TAKE EIGHT MORE WEEKS!VERSE 4 THIS IS NO FARCE MAYBE HE S BROKE? IS THIS  THE ART OF HIS DEAL  OR SOME AWFUL JOKE? YOU VE GOT TO ADMIT  THIS SILLY HALF-WIT  IS SO FULL OF  SHIT!And here s the video via Twitter:BABS rewrites lyrics to  Send In The Clowns  for Trump harpoon. Your Welcome??? pic.twitter.com/qVRF5yF6Ur  Debra Messing (@DebraMessing) September 10, 2016This isn t the first time Streisand has slammed Trump. During a concert in Los Angeles last month she burned him hard on stage by claiming that a famous mentalist couldn t read Trump s mind because he doesn t have one. And then she said this: No matter what the color of your skin or where you were born   Cuba, China, Malaysia, Madagascar   our genetic make up is 99.9% identical to every person on the face of the earth. The other 0.1% is Donald Trump. This song, however, is so perfect it should be Hillary Clinton s campaign theme song at every rally she attends until Election Day. Cue the Trump Twitter-tantrum in 3..2..1 Featured Image: Wikimedia

4971 : A new report from the New York Times finds that Donald Trump owes twice as much debt as he reported on his public election filings.The NY Times reports: Beyond finding that companies owned by Mr. Trump had debts of at least $650 million, The Times Discovered that a substantial portion of his wealth is tied up in three passive partnerships that owe an additional $2 billion to a string of lenders, including those that hold the loan on the Avenue of the Americas building. If those loans were to go into default, Mr. trump might not be held personally liable, but the value of his investments would sink. The NY Times points out that Trump probably didn t lie about the amount of debt he has in his public filings, it s just a matter of the forms that were filled out not being designed for a person who has as complex financial holdings as Trump does.What s really interesting about the report, is that it also shows Trump s one of the very few criticisms of Hillary Clinton shared by some on the left (which he stole from progressives anyway) is now rendered completely invalid for him to make, due to it being completely hypocritical.The NY Times reports: An office building on Avenue of the Americas in Manhattan, of which Mr. Trump is part owner, carries a $950 million loan. Among the lenders: the Bank of China, one of the largest banks in a country that Mr. Trump has railed against as an economic foe of the United States, and Goldman Sachs, a financial institution he has said controls Hillary Clinton, the Democratic nominee, after it paid her $675,000 in speaking fees. Trump has positioned himself as a strong businessman throughout his presidential campaign. However, he has come under fire from Democrats as report after report comes out showing that he is actually a huge failure in the world of business. Most notably from Elizabeth Warren who has said that  Donald Trump is a loser. Count all his failed businesses. See how he kept his father s empire afloat by cheating people with scams like Trump University and by using strategic corporate bankruptcy (excuse me, bankruptcies) to skip out on debt. The report is damning and should give Democrats a few more talking points that show just how dangerous a Trump presidency would be for the United States.Featured image from Spencer Platt/Getty Images

883 : We re all used to seeing insane, nonsensical tweets from Donald Trump Sr, the so-called  president.  However, now that it is his son and namesake, Donald Trump Jr., who is in the hot seat at the moment.Over the weekend, the New York Times dropped several bombshells regarding a shady meeting with a Russian lawyer that Trump Jr., first son-in-law Jared Kushner, and former campaign manager and Kremlin toadie Paul Manafort engaged in during the height of the 2016 presidential campaign. The whole thing resulted in Trump Jr. eventually admitting that the whole purpose of the meeting was to get dirt from the Russians on Democratic presidential nominee Hillary Clinton.After all of this, it seems that Trump Jr., is following in his father s footsteps and watching coverage of himself on cable news. As Rep. Adam Schiff (D-CA), the Ranking Member on the Intelligence Committee in the House of Representatives was making an appearance on Morning Joe, Trump Jr. was tweeting about what he was talking about with hosts Joe Scarborough and Mika Brzezinski and their guests. Obviously irritated, Trump Jr. said:Of course, this is just the sort of thing his father would tweet when the news cycle is focused on something unsavory regarding this travesty of a  presidency.  Therefore, it should come as no surprise that Jr. is doing the same thing. After all, the whole family seems like some kind of crazy, Children of the Corn carbon copy of their crazy father.The walls are closing in and they don t know what to do. The free press is still operating and speaking truth to power, despite the constant bullying of this autocratic, kleptocratic administration. They know it, too   after all, if you want to see desperation in action, just check the Twitter feeds of Donnie #1 and Donnie #2. The more aggravated the tweets, the better things are for the nation.Featured image via David Becker/Getty Images

## 2.2 Keras Embedding을 사용하여 분류하기

### 2.2.0 데이터셋 split

- Train, Test 데이터셋으로 분리(Split)하여 주세요.

In [17]:
# 이 곳에 답안을 작성하시길 바랍니다.
from sklearn.model_selection import train_test_split
X = df['text']
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42, stratify=y)
X_train

8952     Kevin Matthews, a 35-year-old Black man from D...
2462     Donald Trump has declared the media to be  the...
22269    Patrick Henningsen 21st Century WireWatching t...
11168    Who says President Trump isn t moving on his a...
4233     Ever since the leaked tape of Donald Trump s h...
                               ...
31005    CHICAGO/SAN FRANCISCO (Reuters) - U.S. voters ...
10211    You may remember the story of a New Jersey hig...
35011    PARIS (Reuters) - France, the European Union s...
19592    A San Antonio, Texas school is under fire for ...
8492     For everyone other than maybe his investment p...
Name: text, Length: 35751, dtype: object

In [18]:
y_train

8952     1
2462     1
22269    1
11168    1
4233     1
        ..
31005    0
10211    1
35011    0
19592    1
8492     1
Name: label, Length: 35751, dtype: int64

### 2.2.1 단어 벡터의 평균을 이용하여 분류해보기

N322에서 했던 단어 임베딩 벡터의 평균을 사용하여 문장을 분류하는 작업을 수행해봅시다.<br/>
인스턴스마다 텍스트 길이가 길고 시간이 오래 걸리므로 시간상 epoch 수를 **10 이하**로 하는 것을 추천드립니다.<br/>
모델 구동이 목적이므로 임베딩 차원 수를 크지 않게(50이하)로 설정해주세요.<br/>
**권장사항 : `max_len` 은 텍스트 길이 평균보다 높게 설정해주세요.**<br/>

> **Tip : 모델이 학습하는 동안 2.2.3의 내용을 작성하면 시간을 절약할 수 있습니다.**

In [19]:
# 이 곳에 답안을 작성하시길 바랍니다
from keras.preprocessing import sequence
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, GlobalAveragePooling1D
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)

vocab_size = len(tokenizer.word_index) + 1
print(vocab_size)

125741

In [20]:
X_encoded = tokenizer.texts_to_sequences(X_train)

max_len = max(len(sent) for sent in X_encoded)
print(max_len)

8375

In [21]:
print(f'학습 데이터에 있는 문서의 평균 토큰 수: {np.mean([len(sent) for sent in X_train], dtype=int)}')

학습 데이터에 있는 문서의 평균 토큰 수: 2473

In [22]:
maxlen_pad = 4000

X_train_pad=pad_sequences(X_encoded, maxlen=maxlen_pad, padding='post')
y_train=np.array(y_train)

In [23]:
embedding_matrix = np.zeros((vocab_size, 300))
print(np.shape(embedding_matrix))

(125741, 300)

In [24]:
X_test_encoded = tokenizer.texts_to_sequences(X_test)

X_test_pad=pad_sequences(X_test_encoded, maxlen=4000, padding='post')
y_test=np.array(y_test)

In [35]:
model = Sequential()
model.add(Embedding(vocab_size, 300, weights=[embedding_matrix], input_length=maxlen_pad, trainable=False))
model.add(GlobalAveragePooling1D()) 
model.add(Dense(1, activation='sigmoid'))

In [ ]:
callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss',min_delta=0.0001, patience=3)

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
model.fit(X_train_pad, y_train, batch_size=64, epochs=10, validation_split=0.2, callbacks=[callback],
          validation_data=(X_test_pad,y_test))

Epoch 1/10
559/559 [==============================] - 168s 298ms/step - loss: 0.6919 - acc: 0.5254 - val_loss: 0.6919 - val_acc: 0.5254
Epoch 2/10
559/559 [==============================] - 182s 326ms/step - loss: 0.6919 - acc: 0.5254 - val_loss: 0.6919 - val_acc: 0.5254
Epoch 3/10
559/559 [==============================] - ETA: 0s - loss: 0.6919 - acc: 0.5254

In [ ]:
model.evaluate(X_test_pad, y_test)

### 2.2.2 LSTM을 사용하여 텍스트 분류 수행해보기

N323에서 했던 단어 임베딩 벡터의 평균을 사용하여 문장을 분류하는 작업을 수행해봅시다.<br/>
인스턴스마다 텍스트 길이가 길어 시간이 매우 오래 걸리므로 <br/>
**층을 최소한으로 쌓고**, epoch 수를 **3 이하**로 하는 것을 추천드립니다.<br/>

> **Tip : 모델이 학습하는 동안 2.2.3의 내용을 작성하면 시간을 절약할 수 있습니다.**

In [33]:
# 이 곳에 답안을 작성하시길 바랍니다
from __future__ import print_function
from keras.callbacks import LambdaCallback
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.optimizers import RMSprop
from keras.utils.data_utils import get_file
import numpy as np
import random
import sys
import io
import IPython

max_features = 4000

model_2 = tf.keras.models.Sequential()
model_2.add(tf.keras.layers.LSTM(4000,dropout=0.2, recurrent_dropout=0.2))
model_2.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [34]:
callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss',min_delta=0.0001, patience=3)

model_2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
model_2.fit(X_train_pad, y_train, batch_size=128, epochs=3, validation_split=0.2, callbacks=[callback],
          validation_data=(X_test_pad,y_test))

Epoch 1/3

ValueError: ignored

### 2.2.3 위에서 실행한 내용에 대해 다시 알아봅시다.

#### a) 데이터셋을 학습할 때 사용하는 `pad_sequences`  메서드에 대해 설명해주세요.<br/>어떤 기능을 하나요? 모델을 학습할 때 왜 필요한가요?

***이곳에 답안을 입력해주세요***
> 자연어 처리를 하다보면 각 문장의 서로 길이가 다를 수 있다. 그런데 기계는 길이가 전부 동일한 문서들에 대해서는 하나의 행렬로 보고, 한꺼번에 묶어서 처리할 수 있다. 이에 병렬 연산을 위해서 문장들의 길이를 임의로 동일하게 맞춰주는 작업이 필요하다.

#### b) 2.2.1과 2.2.2에서 사용한 각 모델의 evaluation 성능은 어떻게 나왔나요?<br/>각 모델의 장단점은 무엇이라고 생각하나요?

***이곳에 답안을 입력해주세요***

#### c) 종래의 RNN(Recurrent Neural Networks) 대신 LSTM(Long-Short Term Memory)을 사용하는 이유는 무엇인가요?<br/>(i.e. RNN에 비해 LSTM의 좋은 점을 설명해주세요.)

***이곳에 답안을 입력해주세요***
>RNN은 벡터가 순차적으로 입력된다. 그렇기에 병렬화가 불가능하다. 또한 역전파 과정에서 활성화 함수의 미분 값이 계속 곱해지다 보니 특정 수치가 계속 작아져 기울기가 소실하거나 반대로 기울기가 큰게 증폭하여 기울기가 폭발하는 현상이 일어난다. LSTM은 기울기 정보 크기를 조절하는 gate가 있어 역전파가 진행되어도 기울기가 소실되거나 증폭하는 현상을 막아준다.

#### d) LSTM이나 RNN을 사용하는 예시를 **3개**이상 제시하고 해당되는 경우에 왜 LSTM이나 RNN을 사용하는 것 적절한지 간단하게 설명해주세요.

***이곳에 답안을 입력해주세요***
> 기계번역, 주가그래프 해석, 고양이 분류
>> 연속형 데이터를 해석하는데 순환 신경망들이 잘 사용된다.

#### e) 이외에 N324 에서 배운 자연어처리 모델과 관련된 키워드를 3개 이상 적어주세요. <br/> (해당 키워드에 대한 설명은 옵션입니다.)

***이곳에 답안을 입력해주세요***
> Positional Encoding
>> 트랜스퍼머에서 병렬화를 위해 모든 단어 벡터를 동시에 입력한다. 이때 해당 단어의 위치는 컴퓨터가 모르게 된다. 그렇기에 따로 컴퓨터에게 위치 정보를 제공한다.
>
> Self-Attention
>> 문장 내부 요소의 관계에 대해 단어마다 자신에 대한 어뗀션을 작용하는 것으로 퀴리-키-밸류 아이디어에서 착안했다. 퀴리와 키 벡터 내적에 가중치 벡터의 제곱근으로 나누어 softmax하여 밸류 각 단어의 벡터를 곱해 더한다.
>
> Multi-Head Attention
>> 여러 개의 어탠션 매커니즘을 동시에 병렬적으로 실행하여 병렬화 효과를 극대화하는 방법

# Advanced Goals: 3점을 획득하기 위해선 아래의 조건 중 하나 이상을 만족해야합니다
 
- 2.1 에서 TF-IDF(`TfidfVectorizer`)가 아닌 방법을 사용하여 유사도 검색을 수행해보세요.<br/>
TF-IDF와 해당 방법의 차이를 설명해주세요. 
- 2.2 에서 사용한 방법을 재사용하되 하이퍼 파라미터를 조정하거나 모델 구조를 변경하여 성능을 올려봅시다.<br/>**(주의 : GridSearch, RandomSearch 등의 방법을 사용하여도 좋으나 시간이 오래 걸리므로 범위를 잘 선택해야 합니다.)**

In [ ]:
# 이 곳에 답안을 작성하시길 바랍니다